<section class="container mt-5 hero-body d-flex flex-wrap align-items-center justify-content-between">
  <div class="text-white" style="max-width: 600px;">
    <h1>Achieve Your <span style="color: #FF5A2C;">FITNESS GOALS</span> <br>With MagicFit</h1>
    <p>
      Rejoignez la communauté MagicFit et transformez votre parcours fitness. Nos coachs experts et nos programmes personnalisés sont conçus pour vous aider à atteindre vos objectifs et à dépasser vos attentes.
    </p>
    <div class="mt-4">
      <button routerLink="/reservation" class="btn btn-start">Faire Votre Réservation🚀</button>
      <!-- <a routerLink="/programmes" class="btn btn-explore">Explore Programs</a> -->
      <a routerLink="/coach-virtuel" class="btn btn-explore">🤖 Coach Virtuel IA</a>
    </div>
  </div>
</section>