<section class="container mt-5 hero-body d-flex flex-wrap align-items-center justify-content-between">
  <div class="text-white" style="max-width: 600px;">
    <h1>Achieve Your <span style="color: #FF5A2C;">FITNESS GOALS</span> <br>With MagicFit</h1>
    <p>
      Join the MagicFit Community and Transform Your Fitness Journey. Our Expert Coaches and Personalized Programs are Designed to Help You Achieve Your Goals and Exceed Your Expectations.
    </p>
    <div class="mt-4">
      <button routerLink="/reservation" class="btn btn-start">Start Your Journey🚀</button>
      <a routerLink="/programmes" class="btn btn-explore">Explore Programs</a>
    </div>
  </div>
</section>