<div class="container mt-5 text-white">
  <h2 class="text-center mb-4 border-bottom pb-3">➕ Ajouter un Exercice</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-dark p-4 rounded shadow">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom de l'exercice</label>
      <input id="nom" type="text" class="form-control" formControlName="nom" />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Nom de l’image (ex: squat.gif)</label>
      <input id="image" type="text" class="form-control" formControlName="image" />
    </div>

    <div class="mb-3">
      <label for="muscle" class="form-label">Groupe Musculaire</label>
      <select id="muscle" class="form-select" formControlName="muscle">
        <option value="" disabled selected>-- Sélectionner --</option>
        <option>Chest</option>
        <option>Biceps</option>
        <option>Triceps</option>
        <option>Legs</option>
        <option>Shoulders</option>
        <option>Abds</option>
        <option>Forearms</option>
        <option>Calves</option>
      </select>
    </div>
    <div class="mb-3">
  <label for="programme" class="form-label">Programme</label>
  <select id="programme" class="form-select" formControlName="programme_id">
    <option value="" disabled selected>-- Sélectionner un programme --</option>
    <option *ngFor="let programme of programmes" [value]="programme.id">{{ programme.nom }}</option>
  </select>
</div>

    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
      ✅ Ajouter l'exercice
    </button>
  </form>
</div>
