<div class="container text-white mt-5">
  <h2 class="text-center mb-4">Créer un compte</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-100" style="max-width: 600px; margin: auto;">
    <div class="mb-3">
      <label for="name">Nom</label>
      <input type="text" id="nom" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>

    <div class="mb-3">
      <label for="role">Rôle</label>
      <select id="role" class="form-select" formControlName="role">
        <option value="utilisateur">Utilisateur</option>
        <option value="coach">Coach</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
  </form>
</div>
